.createNowbtn {
  display: flex;
  height: 50px;
  padding: 10.464px 20.505px 11.257px 21.021px !important;
  justify-content: center;
  align-items: center;
  border-radius: 21.453px;
  background: var(
    --bg,
    linear-gradient(226deg, #2299b7 -39.46%, #0a0b2a 94.74%)
  );
  border: none;
}
.imgbox {
  display: flex;
  padding: 24px 15.5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 379px;
  width: 100%;
  border-radius: 16.089px;
  border: 2px solid #272727;
  background: #0c0c0f;
  box-shadow: 0px 32.179px 42.905px 0px rgba(0, 0, 0, 0.02),
    0px 21.453px 32.179px 0px rgba(0, 0, 0, 0.02),
    0px 5.363px 10.726px 0px rgba(0, 0, 0, 0.02),
    0px 0px 1.341px 0px rgba(0, 0, 0, 0.02);
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 50px;
  text-align: center;
}
