.infoBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 270px;
  height: auto;
  min-height: 200px;
  gap: 6.006px;
  border-radius: 16.089px;
  background: var(--trasnsparent-blue, rgba(106, 117, 138, 0.11));
  box-shadow: 0px 16.089px 21.453px 0px rgba(0, 0, 0, 0.01),
    0px 10.726px 16.089px 0px rgba(0, 0, 0, 0.01),
    0px 5.363px 10.726px 0px rgba(0, 0, 0, 0.01),
    0px 0px 1.341px 0px rgba(0, 0, 0, 0.01);
}
.outerInfobox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
