.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: "100px";
}
.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
.footerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
